<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="Rectangle-18">
  <ul class="nav navbar-nav">
    <li>Publisher Login / Signup</li> 
  </ul> 
</div>

<nav class="Rectangle">
  <ul class="nav navbar-nav">
    <li><img src="/images/homelogo.png"></li>
  </ul>
  <ul class="nav navbar-nav nav1">
    <li class="start">Verticals</li>
    <li class="start">Process</li>
    <li class="start">Partners</li>
    <li class="start">Company</li>
    <li class="start">Contact</li>
  </ul>
</nav>
  

