<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="landing-page">

<nav class="Rectangle-18">
  <ul class="nav navbar-nav">
    <li>Publisher Login / Signup</li> 
  </ul> 
</nav>

<nav class="navbar Rectangle">
   <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" color="#173057"></span>
        <span class="icon-bar" color="#173057"></span>
        <span class="icon-bar" color="#173057"></span>                        
      </button>
   <img src="/images/homelogo.png">
  </div>
 
 <div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav nav1">
    <li class="start">Verticals</li>
    <li class="start">Process</li>
    <li class="start">Partners</li>
    <li class="start">Company</li>
    <li class="start">Contact</li>
  </ul>
</div>
</nav>
<div class="content1">
  <div class="container">
  <div class="row text">
  
   <p class="p1">Insurance agencies / Insurance agents / Insurance carriers</p>
   <p class="p2">Delivering your <br> best customers at scale.</p>
   <button type="button" class="btn get-start">GET STARTED</button>
  </div>
</div>
</div>


<div class="content2">
  <div class="container">
  <div class="row text1">
  We drive high-intent calls and real-time leads to our insurance partners at scale via search, email, and display, ensuring optimal contact rates as well industry leading conversion rates.  We accomplish this by utilizing our TCPA compliant 2X verification process as well as other <br>
  real-time verification methods.
  </div>
  <div class="row text2">
    <div class="col-md-4 col-sm-4">
    REAL-TIME LEADS
    <br>
    <img src="/images/real-time-leads.png" class="real-time">
    </div>
   <div class="col-md-4 col-sm-4">
  INBOUND CALLS
  <br>
    <img src="/images/inbound.png" class="real-time">
  </div>
   <div class="col-md-4 col-sm-4">
   WARM CALL TRANSFERS
   <br>
    <img src="/images/warmcall.png" class="real-time">
  </div>
</div>
</div> 
</div>

<div class="content3">
  <div class="container">
    <div class="row verticals">
      Our Verticals
    </div>
    <div class="row verticaltext">
      At Trudova we are hyper focused on the insurance vertical.  Our decades of experience in the insurance industry gives us a <br> unique perspective in what it takes to generate the highest intent, most qualified lead and/or call possible by utilizing <br> proprietary methods to deliver your best customers at scale.  Our core lines of insurance we operate in are Life Insurance, <br>Health Insurance, and Medicare Supplement Insurance.
    </div>
     <div class="row gallery">
      <div class="col-md-4">
        <img src="/images/life.png" class="real-time">
        
        <div class="vertical-text-head">
        Life Insurance
      </div>
      <div class="vertical-text-content">
        There are many sources available to find life insurance leads and/or calls was an insurance agent.  If you want to stay competitive in todays market you need high intent, cost effective leads or warm call transfers that convert to sales.  Let us help you connect w/ people who genuinely need and are actively looking for life insurance coverage.
      </div>
      <div class="started">
       GET STARTED <img src="/images/start-icon.png" class="start-icon">
      </div>
      </div>
     <div class="col-md-4">
        <img src="/images/health.png" class="real-time">
        
        <div class="vertical-text-head">
        Health Insurance
      </div>
      <div class="vertical-text-content">
        Everybody needs a health insurance plan. Trudova can put you in touch with real people who need health insurance policies right now.  If you are looking for high-intent consumers looking for an insurance plan, whether you are selling major medical health insurance, short-term health plans, or selling through the state or federal exchanges, we can help! 
      </div>
      <div class="started">
       GET STARTED <img src="/images/start-icon.png" class="start-icon">
      </div>
      </div>
      <div class="col-md-4">
        <img src="/images/medicare.png" class="real-time">
        
        <div class="vertical-text-head">
        Medicare Supplement Insurance
      </div>
      <div class="vertical-text-content">
        Looking for Medicare Leads? You've come to the right place.  Over 65 Medicare Supplement leads cannot be overlooked. There are thousands of Americans that are turning 65 everyday and paying more than they need to for insurance.  You can help them, and we can connect you!  Warm/Cold Transfers, or real-time leads. 
      </div>
      <div class="startedd">
       GET STARTED <img src="/images/start-icon.png" class="start-icon">
      </div>
      </div>

    </div>
   
  </div>
</div>
  

</div>
